*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 1.6rem/1.15 var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

a img {
  vertical-align: middle;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
